services:
  runner:
    container_name: "runner"
    build:
      context: .
      dockerfile: Dockerfile.test
      args:
        GITHUB_USERNAME: ${GITHUB_USERNAME}
        GITHUB_TOKEN: ${GITHUB_TOKEN}
    ports:
      - "19083:8080"
    environment:
      DB_USER: app
      DB_PASSWORD: app
      DB_NAME: snippet-db
      DB_HOST: runner-db
      DB_PORT: 5432
      BUCKET_SERVICE: asset-service
      BUCKET_PORT: 8080
      REDIS_HOST: redis
      REDIS_PORT: 6379
      APP_HOST: app
      APP_PORT: 8080
    depends_on:
      - runner-db
      - asset-service
    networks:
      - snippet-searcher-develop

  asset-service:
    container_name: "asset-service"
    image: ghcr.io/austral-ingsis/snippet-asset-service:main.14
    ports:
      - "19080:8080"
    environment:
      AZURE_HOST: http://azurite
    depends_on:
      - azurite
    networks:
      - snippet-searcher-develop

  azurite:
    container_name: "azurite"
    image: mcr.microsoft.com/azure-storage/azurite
    ports:
      - "10000:10000"
      - "10001:10001"
      - "10002:10002"
    networks:
      - snippet-searcher-develop

  runner-db:
    container_name: "runner-db"
    image: postgres:16
    ports:
      - "5434:5432"
    environment:
      POSTGRES_USER: app
      POSTGRES_PASSWORD: app
      POSTGRES_DB: snippet-db
    volumes:
      - runner-pgdata:/var/lib/postgresql/data
      - ./db/init:/docker-entrypoint-initdb.d
    networks:
      - snippet-searcher-develop

volumes:
  runner-pgdata:

networks:
  snippet-searcher-develop:
    external: true